<div class="list-group list-group-flush" style="margin-top: 5vh">

  	<% @events.each do |event| %>

    <a href="<%= event_path(event.id) %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"><span class="lead"><%= event.title %></span> <span><h1 style="display: inline;"><%= event.start_date.strftime("%d") %></h1><h4 style="display: inline;"><%= event.start_date.strftime(".%m.%Y") %></h4></span></a>

    <% end %>

</div>

