<div class="container-ban" style="margin-bottom: 10vh;">

<%= render "shared/banner", img_url: "https://images.pexels.com/photos/327064/pexels-photo-327064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", title: "Welcome on PooowEvent!", text:"An incredible website for creating, participating and discovering events near you!"%>

<br><br><br>

<div class="row justify-content-around">
  	<div class="col-10">
  		<h1 class="text-primary">Upcoming events:</h1>
		<%= render "shared/listevents", collection: @events %>
 	</div>
</div>

<br><br><br><br>

<%= render "shared/threecards", first_icon: "fas fa-gifts", first_text: "This is some text within a card body. Like it? Try to find out more by clicking the button below", first_link: "#", second_icon: "fas fa-award", second_text: "This is some text within a card body. Like it? Try to find out more by clicking the button below", second_link: "#", third_icon: "fas fa-address-card", third_text: "This is some text within a card body. Like it? Try to find out more by clicking the button below", third_link: "#" %>

</div>